html, body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100%;
  margin: 0;
}

// Cascade 100% height down the tree
html, body, #react {
  height: 100%;
}

// Apply natural box model layout to all elements
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

table {
  box-shadow: 0 1px 3px rgba(0,0,0, .3);
  border-collapse: collapse;
  border-radius: 4px;
}

td, th {
  padding: 1em;
}

th {
  background-color: #2ECC71;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  line-height: 3;
  padding: 0 1em;
  text-align: left;
  box-shadow: 0 -1px 2px rgba(0,0,0,.1);
}

tr th:first-of-type {
  box-shadow: -1px 0px 1px rgba(0,0,0,.2), 0 -1px 2px rgba(0,0,0,.1);
  border-radius: 4px 0 0 0;
}

tr th:last-of-type {
  box-shadow: 1px 0px 1px rgba(0,0,0,.15), 0 -1px 2px rgba(0,0,0,.1);
  border-radius: 0 4px 0 0;
}

tr:nth-of-type(2n) td {
  background-color: rgba(0,0,0,.015);
  box-shadow: inset 0px 1px 0px rgba(0,0,0,.03);
}

tbody tr:last-of-type td:first-of-type {
  border-radius: 0 0 0 4px;
}

tbody tr:last-of-type td:last-of-type {
  border-radius: 0 0 4px 0;
}

a {
  color: #1CAF5A;
  text-decoration: none;
}
