html, body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100%;
  margin: 0;
}

// Cascade 100% height down the tree
html, body, #react {
  height: 100%;
}

// Apply natural box model layout to all elements
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

table {
  box-shadow: 0 1px 3px rgba(0,0,0, .3);
  border-collapse: collapse;
}

td, th {
  padding: 1em;
}

th {
  background-color: #fafafa;
}

a {
  color: #1CAF5A;
  text-decoration: none;
}
